/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Great Vibes";
  src: url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
} */

/* .customfont {
  font-family: var(--font-great-vibes);
} */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* color of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; /* color of the scrollbar thumb on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* color of the scrollbar track */
}

/* Handle when it is dragging */
::-webkit-scrollbar-thumb:active {
  background: #999; /* color of the scrollbar thumb when dragging */
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
